.Palette {
   height: 100vh;
   display: flex;
   flex-direction: column;
}
.Palette-colors {
   height: 90%;
}
.palette-footer {
   height: 5vh;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   font-weight: bold;
}
.emoji {
   font-size: 1.5rem;
   margin: 1rem;
}
